.banner {
    width: 100%;
}

.sobre {
    width: 940px;
    margin: 0 auto;
    padding: 3em 0;
}

.tituloPrincipal {
    text-align: center;
    font-size: 2em;
    padding: 2em 0;
    clear: left;
}

.imgSobre {
    width: 25%;
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #000;
}

.sobre p {
    text-indent: 2em;
}

.sobre p, .mapa p {
    margin: 0 0 1em;
}

.sobre strong {
    font-weight: bold;
}

.sobre em {
    font-style: italic;
}

.mapaConteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    text-align: center;
}

.beneficios {
    background: linear-gradient(#fefefe, #AAF0D1, #17b4db);
}

.listaBeneficios, .video {
    width: 940px;
    margin: 0 auto;
}

.listaBeneficios li {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    width: 50%;
}

.primeiraLista .itens {
    text-align: left;
}

.segundaLista .itens {
    text-align: right;
}

.itens {
    line-height: 2;
    font-weight: bold;
}

.primeiraLista .itens:before {
    content: "★ ";
}

.segundaLista .itens::after {
    content: " ★";
}

.imgBeneficios {
    width: 99%;
}

.imgBeneficios {
    opacity: 1;
    transition: 400ms;
}

.imgBeneficios:hover {
    opacity: 0.5;
}

.video {
    padding: 1em 0 4em 0;
}

@media screen and (max-width: 480px) {
    .sobre, .mapaConteudo, .listaBeneficios, .video {
        width: auto;
    }

    .tituloPrincipal {
        font-size: 1.7em;
        font-weight: bolder;
        padding: 1.5em 0;
    }

    p {
        font-size: 21px;
    }

    .imgSobre {
        width: 100%;
        border-radius: 0;
        margin-bottom: 40px;
    }

    .sobre {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .itens {
        font-size: 1.2em;
    }
}