.banner {
    width: 100%;
}

.sobre {
    width: 940px;
    margin: 0 auto;
    padding: 3em 0;
}

.tituloPrincipal {
    text-align: center;
    font-size: 2em;
    padding: 2em 0;
    clear: left;
}

.imgSobre {
    width: 25%;
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #000;
}

.sobre p, .mapa p {
    margin: 0 0 1em;
}

.sobre strong {
    font-weight: bold;
}

.sobre em {
    font-style: italic;
}

.mapa {
    background: linear-gradient(#fefefe, #AAF0D1);
}

.mapaConteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    text-align: center;
}

.beneficios {
    background: #AAF0D1;
}

.conteudoBeneficios, .video {
    width: 940px;
    margin: 0 auto;
}

.listaBeneficios {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itemImg {
    width: 99%;
}

.imgBeneficios {
    width: 50%;
}

.itemImg, .imgBeneficios {
    opacity: 1;
    transition: 400ms;
}

.itemImg:hover, .imgBeneficios:hover {
    opacity: 0.5;
}

.video {
    padding: 0 0 4em 0;
}